<form action="/currencyconverator" method = "POST">
  <h1>currency converter<h1>
<div class="row g-2">
    <div class="col-md">
      <div class="form-floating">
        <input type="number" class="form-control" id="floatingInputGrid" placeholder="INR currency" name="amount">
        <label for="floatingInputGrid">INR currency</label>
      </div>
    </div>
    <div class="col-md">
      <div class="form-floating">
        <select class="form-select" id="floatingSelectGrid" name="currency">

          <option selected>select options</option>
          <option  value="Argentine Peso">Argentine Peso</option>
          <option  value="Australian Dollar">Australian Dollar</option>
          <option  value="Bahraini Dinar">Bahraini Dinar</option>
          <option  value="Botswana Pula">Botswana Pula</option>
          <option  value="Brazilian Real">Brazilian Real</option>
          <option  value="British Pound">British Pound</option>
          <option  value="Bruneian Dollar">Bruneian Dollar</option>
          <option  value="Bulgarian Lev">Bulgarian Lev</option>
          <option  value="Canadian Dollar">Canadian Dollar</option>
          <option  value="Chilean Peso">Chilean Peso</option>
          <option  value="Chinese Yuan Renminbi">Chinese Yuan Renminbi</option>
          <option  value="Colombian Peso">Colombian Peso</option>
          <option  value="Croatian Kuna">Croatian Kuna</option>
          <option  value="Czech Koruna">Czech Koruna</option>
          <option  value="Danish Krone">Danish Krone</option>
          <option  value="Emirati Dirham">Emirati Dirham</option>
          <option  value="Euro">Euro</option>
          <option  value="Hong Kong Dollar">Hong Kong Dollar</option>
          <option  value="Hungarian Forint">Hungarian Forint</option>
          <option  value="Icelandic Krona">Icelandic Krona</option>
          <option  value="Indonesian Rupiah">Indonesian Rupiah</option>
          <option  value="Iranian Rial">Iranian Rial</option>
          <option  value="Israeli Shekel">Israeli Shekel</option>
          <option  value="Japanese Yen">Japanese Yen</option>
          <option  value="Kazakhstani Tenge">Kazakhstani Tenge</option>
          <option  value="Kuwaiti Dinar">Kuwaiti Dinar</option>
          <option  value="Libyan Dinar">Libyan Dinar</option>
          <option  value="Malaysian Ringgit">Malaysian Ringgit</option>
          <option  value="Mauritian Rupee">Mauritian Rupee</option>
          <option  value="Mexican Peso">Mexican Peso</option>
          <option  value="Nepalese Rupee">Nepalese Rupee</option>
          <option  value="New Zealand Dollar">New Zealand Dollar</option>
          <option  value="Norwegian Krone">Norwegian Krone</option>
          <option  value="Omani Rial">Omani Rial</option>
          <option  value="Pakistani Rupee">Pakistani Rupee</option>
          <option  value="Philippine Peso">Philippine Peso</option>
          <option  value="Polish Zloty">Polish Zloty</option>
          <option  value="Qatari Riyal">Qatari Riyal</option>
          <option  value="Romanian New Leu">Romanian New Leu</option>
          <option  value="Russian Ruble">Russian Ruble</option>
          <option  value="Saudi Arabian Riyal">Saudi Arabian Riyal</option>
          <option  value="Singapore Dollar">Singapore Dollar</option>
          <option  value="South African Rand">South African Rand</option>
          <option  value="South Korean Won">South Korean Won</option>
          <option  value="Sri Lankan Rupee">Sri Lankan Rupee</option>
          <option  value="Swedish Krona">Swedish Krona</option>
          <option  value="Swiss Franc">Swiss Franc</option>
          <option  value="Taiwan New Dollar">Taiwan New Dollar</option>
          <option  value="Thai Baht">Thai Baht</option>
          <option  value="Trinidadian Dollar">Trinidadian Dollar</option>
          <option  value="Turkish Lira">Turkish Lira</option>
          <option  value="US Dollar">US Dollar</option>
          <option  value="Venezuelan Bolivar">Venezuelan Bolivar</option>
        </select>
        <label for="floatingSelectGrid">select country currency</label>
        <input class="btn btn-primary" type="submit" value="Submit">
      </div>
    </div>
  </div>
</form>